@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  padding: 0.5rem;
}
